*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 90px;
    height: 90px;
    background-color: orange;
}